/*CSS file for tweaking style.css stylings*/

html{
    font-size: 16px;
}

#page-content {
    margin-top: 5em;
}
.poll-container, #category-buttons {
    margin-left:2em; 
    margin-right:2em;
}

li > a > span.glyphicon {
    margin-top: 0.2em;
}

.tab-content {
    padding: 0.5em;
}

.navbar-text {
	position: relative;
}
.navbar-search {
    margin: 0.2em;
}
.navbar-btn {
    margin: 0.2em;
}

.navbar-brand {
    padding-left: 1.7em;
}

a.active {
    color: #ffffff;
    background-color: #2780e3;
    border-color: #2780e3;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.glyphicon {
    font-size: 1.1em;
}

#search-container {
    margin: 1em;
    padding: 1em;
    border: solid black 1px;
}

#search {
    margin-left: -2em;
}

#search-close {
    float: right;
}

.poll-details {
     float: right;
     vertical-align: text-top;
 }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajax-loader-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajax-loader-modal {
    display: block;
}

nav .form-group {
    margin-bottom: 0px;
}

.modal-footer .btn-default {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
}

.modal-footer .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


#new-poll-dialog p {
    background-color: #FFFFFF;
   
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out     
}

#new-poll-dialog p.warning-bg{
    background-color: #f38bae;
}

.tab-content {
    border: 1px solid #ddd;
    border-top:0px;
}