<div class="poll-container">
	<h2>Question here</h2>
	
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#results">Results</a></li>
		<li><a data-toggle="tab" href="#history">History</a></li>
		<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
	</ul>

	<div class="tab-content">
		<div id="results" class="tab-pane fade in active">
			<div class="chart-container">
				<canvas id="myChart"></canvas>
			</div>
		</div>
		<div id="history" class="tab-pane fade">
			<h3>History</h3>
		</div>
		<div id="menu2" class="tab-pane fade">
			<h3>Böö</h3>
		</div>
	</div>
</div>
